body {
    background-color:  rgb(168, 167, 167);
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color:olivedrab;
    border-width: 5px;
}

h1 {
    color: rgb(0, 0, 0);
}

h3 {
    color: rgb(77, 72, 72);
}